<ion-grid class="grid-container">
  <ion-row class="row-card">
    <ion-col class="col-img" size="{{ colSize }}" *ngFor="let cell of cellinfo">
      <div class="cardScene" [ngClass]="cell.reveal ? 'noClickable' : ''">
        <div
          id="{{ cell.image }}"
          class="card"
          (click)="onClick(cell.image)"
          [ngClass]="[
            cell.flip ? 'is-flipped' : '',
            cell.reveal ? 'is-flipped' : ''
          ]"
        >
          <!-- <div id="showID">{{ cell.image }}</div> -->
          <div class="card__face card__face--back">
            <img
              src="../assets/shelock-holmes-icons/{{
                cell.image[0] == '_' ? cell.image.slice(1) : cell.image
              }}.png"
            />
          </div>

          <div class="card__face card__face--front">
            <img src="../assets/shelock-holmes-icons/back.png" />
            <!-- <img
              src="../assets/shelock-holmes-icons/{{
                cell.image[0] == '_' ? cell.image.slice(1) : cell.image
              }}.png"
            /> -->
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
